body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: rgb(110, 110, 235);
	color: white;


	align-items: center;
	
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }
  
  .search-bar {
	margin: 10px;
        padding: 10px;
   
        border-radius: 5px;
        width: 50%;
        font-size: 25px;
		
  }
  
  .search-bar input {
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	border: none;
  }
  
  .search-bar button {
	background-color: white;
	color: blue;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem;
	cursor: pointer;
  }
  
.marginn{
	margin-left: 20px;
}