
<body>
  <header class="row">
    <nav class="col-md-4">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Panier</a></li>
        <li><a href="#">Catégorie</a></li>
      </ul>
    </nav>
    <div class="search-bar col-md-8">
      <input type="text"  placeholder="Recherche...">
      <button type="submit">Recherche</button>
    </div>
  </header>



  <div class="main-container m-4">
    <div class="row min-height-600 no-flex-wrap">
        <div class="card col col-md-2 ml-2 mt-2 mb-2">
            <div class="col">
                <div>
             
                    <h4 >Nom du boutique</h4>
                </div>
                <div >
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="card col col-md-9 pr-0 pl-0 mt-2 background-grey border-none">
            <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
                <div class="card p-3 min-height-80 mb-2">
                  <h4>Bienvenue dans notre boutique en ligne ! Nous sommes ravis de vous accueillir ici et nous espérons que vous trouverez ce que vous cherchez</h4>
                </div>
                <div  class="card border-none " style="max-height: 550px; overflow-y: scroll;"  >
                  <div class="card-body"  >
                <router-outlet></router-outlet>
                  </div>
                
              </div>
                <div class="card min-height-80 mt-2 mb-2">
                  <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="button" (click)="nouvelArticle()">Ajouter un produit </button>
                    
                  </div>
              </div>
                
            </div>
        </div>
    </div>
</div>