main {
	display: flex;
	flex-wrap: wrap;}

	.product-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 2px 2px #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 300px;
       
      }

      .product-card img {
        max-width: 100%;
        height: 50%;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .product-card h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .product-card p {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .product-card button {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
}
.add-to-cart{
    margin: 10px;
}

#description {
  display: block;
}





.full-description {
  display: none;
  max-width: 800px;
  margin: 1rem;
}

.full-description p {
  margin-bottom: 1rem;
}

.zoomable {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

.zoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.zoomed img {
  max-width: 90%;
  max-height: 90%;
  cursor: zoom-out;
}
	  